/* Weather.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(17, 15, 15, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Align text content */
  background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fc4.wallpaperflare.com%2Fwallpaper%2F1023%2F370%2F544%2Fdark-landscape-lake-hd-wallpaper-preview.jpg&tbnid=eM3cInPN9yIhAM&vet=12ahUKEwjsmfa-sZKFAxUcpmMGHYUGCGoQMygJegQIARBf..i&imgrefurl=https%3A%2F%2Fwww.wallpaperflare.com%2Fdark-landscape-lake-hd-nature-wallpaper-madzv&docid=Fa6Bu4_XINE6EM&w=728&h=455&q=nature%20image%20hd%20dark&ved=2ahUKEwjsmfa-sZKFAxUcpmMGHYUGCGoQMygJegQIARBf'); /* Set background image */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  /* background-color: #3f4242; Box background color */
  border-radius: 10px; /* Rounded corners for the box */
  box-shadow: 0 4px 8px rgba(250, 247, 247, 0.726); /* Box shadow for depth */
  padding: 30px; /* Padding inside the box */
  max-width: 800px; /* Max width for responsive layout */
  width: 800px; /* Ensure the container stretches to fill its parent */
  /* height: 400px; */
}

.search-container {
  display: flex;
  flex-direction: column; /* Stack input and button vertically */
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px; /* Add margin between input and button */
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #646cff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f40808; /* Darken background on hover */
}

button:focus,
button:focus-visible {
  outline: none; /* Remove outline on focus */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #535bf2; /* Updated button background color */
  }
}
